<h1>Listing comments</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Author</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.author %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_level_comment_path %>
